# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

bin
obj
Makefile
*.pro.user
src/Makefile*
src/object_script.*
tests/Makefile*
tests/object_script.*
